{% extends '@admin_theme/admin.html.twig' %}
{# entity \Maps\GroupsBundle\Entity\Groups\Groups #}
{% set pageName = "Группы" %}
{% block title %}{{ pageName }}{% endblock title %}
{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
        <div class="col-xs-8 action">
            <a class="btn btn-info btn-sm" href="{{ path('groups_new') }}">Добавить группу</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Автор</th>
            <th>ip</th>
            <th>Модерация</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="width: 40px;">
                    <a href="{{ path('site_groups_show', {id: entity.id}) }}" target="_blank">{{ entity.id }}</a>
                </td>
                <td>
                    <a href="{{ path('groups_show', {id: entity.id}) }}">{{ entity.name }}</a>
                </td>
                <td>{{ entity.authorName }}</td>
                <td>{{ entity.ip }}</td>
                <td style="width: 60px;text-align: center;">
                    {% if entity.allowed %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-ban"></i>
                    {% endif %}
                </td>
                <td style="width: 150px;">
                    {{ entity.created|localizeddate('none', 'none', 'ru', null, 'M MMM yyyy в kk:mm') }}
                </td>
                <td style="width: 153px;">
                    <a class="btn btn-default btn-xs" href="{{ path('groups_edit', { 'id': entity.id }) }}">Изменить</a>
                    {{ render(controller("MapsMainBundle:Main:deleteForm", {id: entity.id, url: "groups_delete", class:"btn-danger btn-xs"})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}