{% extends '@admin_theme/admin.html.twig' %}
{# entity \Maps\GroupsBundle\Entity\Groups\Groups #}
{# comment \Maps\GroupsBundle\Entity\GroupsComments #}
{% set pageName = entity.name %}
{% block title %}{{ pageName }}{% endblock title %}

{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
        <div class="col-xs-8 action">
            <a class="btn btn-info btn-sm" href="{{ path('groups_edit', { 'id': entity.id }) }}">
                Изменить
            </a>
            {{ render(controller("MapsMainBundle:Main:deleteForm", {id: entity.id, url: "groups_delete"})) }}
        </div>
    </div>

    <p><b>Автор:</b></p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Контакты</th>
            {% if entity.authorInfo %}
                <th>Информация</th>
            {% endif %}
            <th>ip</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ entity.authorName }}</td>
            <td>{{ entity.authorContact }}</td>
            {% if entity.authorInfo %}
                <td>{{ entity.authorInfo }}</td>
            {% endif %}
            <td>{{ entity.ip }}</td>
            <td>{{ entity.created|localizeddate('none', 'none', 'ru', null, 'd MMM yyyy в kk:mm:ss') }}</td>
        </tr>
        </tbody>
    </table>

    <p><b>Группа:</b></p>

    {{ entity.name }}
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Описание</div>
        <div class="panel-body">
            {% if entity.text %}
                {{ entity.text }}
            {% else %}
                Описание не указано...
            {% endif %}
        </div>
    </div>

    <br/>
    <hr/>
    <br/>

    <h3>Заявки:</h3>

    {% if entity.comments.count > 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Контакты</th>
                <th>текст</th>
                <th>ip</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in entity.comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td><a href="{{ path("groupscomments_show", {id:comment.id}) }}">{{ comment.authorName }}</a></td>
                    <td>{{ comment.authorContact }}</td>
                    <td>{{ comment.authorText }}</td>
                    <td>{{ comment.ip }}</td>
                    <td>{{ comment.created|localizeddate('none', 'none', 'ru', null, 'd MMM yyyy в kk:mm:ss') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            Заявок нету...
        </div>
    {% endif %}

{% endblock %}
