<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% if seoTitle is defined and seoTitle is not empty %}{{ seoTitle }}{% else %}{% if pageTitle is defined %}{{ pageTitle }}{% endif %} - ЕДИНОМЫШЛЕННИКИ.RU{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% if seoKeywords is defined and seoKeywords is not empty %}
        <meta name="description" content="{{ seoKeywords }}">
    {% endif %}
    {% if seoDescription is defined and seoDescription is not empty %}
        <meta name="keywords" content="{{ seoDescription }}">
    {% endif %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/site/css/main.css"/>
    {% endblock %}
</head>
<body class="body">
<div class="container">
    {% block header %}
        <br>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЕДИНОМЫШЛЕННИКИ.RU</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ knp_menu_render('MapsMainBundle:MenuBuilder:siteMenu', {'currentClass': 'active'}) }}
                <div class="navbar-form navbar-right">
                    <a href="{{ path('site_groups_add') }}" class="btn btn-default">Добавить группу</a>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/site/js/main.js"></script>
{% endblock %}
</body>
</html>
