<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% if seoTitle is defined and seoTitle is not empty %}{{ seoTitle }}{% else %}{% if pageTitle is defined %}{{ pageTitle }}{% endif %} - ЕДИНОМЫШЛЕННИКИ.RU{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}"/>
    {% if seoKeywords is defined and seoKeywords is not empty %}
        <meta name="description" content="{{ seoKeywords }}">
    {% endif %}
    {% if seoDescription is defined and seoDescription is not empty %}
        <meta name="keywords" content="{{ seoDescription }}">
    {% endif %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/site/css/main.css"/>
    {% endblock %}
</head>
<body class="body">
{% block containerStart %}
<div class="container">{% endblock %}
    {% block header %}
        <br>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЕДИНОМЫШЛЕННИКИ.RU</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ knp_menu_render('MapsMainBundle:MenuBuilder:siteMenu', {'currentClass': 'active'}) }}
                <div class="navbar-form navbar-right">
                    <a href="{{ path('site_groups_add') }}" class="btn btn-default">Добавить группу</a>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block containerEnd %}
</div>
{% endblock %}
<br/>
<br/>
{% block javascripts %}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="/vendor/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="/site/js/main.js"></script>
{% endblock %}

{% block LiveInternet %}
    <div style="display: none">
        <!--LiveInternet counter-->
        <script type="text/javascript"><!--
            document.write("<a href='//www.liveinternet.ru/click' " +
            "target=_blank><img src='//counter.yadro.ru/hit?t29.1;r" +
            escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
            ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
            ";" + Math.random() +
            "' alt='' title='LiveInternet: показано количество просмотров и" +
            " посетителей' " +
            "border='0' width='88' height='120'><\/a>");
            //--></script>
        <!--/LiveInternet-->
    </div>
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22673686 = new Ya.Metrika({id:22673686,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22673686" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script type="text/javascript">
    var reformalOptions = {
        project_id: 790381,
        project_host: "ednml.reformal.ru",
        tab_orientation: "left",
        tab_indent: "50%",
        tab_bg_color: "#3d608e",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
        tab_border_width: 2
    };

    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://ednml.reformal.ru">Oтзывы и предложения для Единомышленники</a></noscript>

</body>
</html>
