{% extends '@admin_theme/admin.html.twig' %}
{% set pageName = "Редактировать страницу" %}
{% block title %}{{ pageName }}{% endblock title %}
{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
        <div class="col-xs-8 action">
            {% if entity.slug != "/" %}
                {{ render(controller("MapsPageBundle:Admin/Admin:deleteForm", {'id': entity.id, 'title': 'Удалить страницу', 'class':'btn btn-danger btn-sm'})) }}
            {% endif %}
        </div>
    </div>
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name) }}
    {% if entity.slug == "/" %}
        {{ form_row(edit_form.slug, {'label' : false, 'attr' : {'class' : 'hide'} }) }}
    {% endif %}
    {{ form_end(edit_form) }}
{% endblock %}