{% extends '@admin_theme/admin.html.twig' %}
{% set pageName = "Страницы" %}
{% block title %}{{ pageName }}{% endblock title %}
{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
        <div class="col-xs-8 action">
            <a class="btn btn-info btn-sm" href="{{ path('page_new') }}">Добавить страницу</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Название</th>
            <th>ЧПУ</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.slug == "/" %}
                        <a href="/" target="_blank">{{ entity.slug }}</a>
                    {% else %}
                        <a href="{{ path("site_page_show", {'slug': entity.slug}) }}" target="_blank">{{ entity.slug }}</a>
                    {% endif %}
                </td>
                <td style="width: 150px;">
                    {{ entity.created|localizeddate('none', 'none', 'ru', null, 'M MMM yyyy в kk:mm') }}
                </td>
                <td style="width: 153px;">
                    <a class="btn btn-default btn-xs" href="{{ path('page_edit', { 'id': entity.id }) }}">Изменить</a>
                    {% if entity.slug != "/" %}
                        {{ render(controller("MapsMainBundle:Main:deleteForm", {id: entity.id, url: "page_delete", class: "btn-danger btn-xs"})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}