{% extends '@site_theme/site.html.twig' %}
{# group \Proxies\__CG__\Maps\GroupsBundle\Entity\Groups\Groups #}
{# comment \Proxies\__CG__\Maps\GroupsBundle\Entity\GroupsComments #}
{% block body %}
    <script>
        window.group_id = {{ group.id }};
    </script>
    <h3>{{ group.name }}</h3>
    <p>{{ group.text }}</p>
    <br/>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">    var addthis_config = {"data_track_addressbar": true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535e37e4691f5a5b"></script>
    <!-- AddThis Button END -->
    <br/>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Контактные данные</th>
                    <th>О себе</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in group.comments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ comment.authorName }}</td>
                        <td>{{ comment.authorContact }}</td>
                        <td>{{ comment.authorText }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Добавить себя:</h3>
            <br/>

            {{ form(commentsForm) }}
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <br/>

    <!--LiveInternet counter-->
    <script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' " +
        "target=_blank><img src='//counter.yadro.ru/hit?t29.1;r" +
        escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
        ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
        ";" + Math.random() +
        "' alt='' title='LiveInternet: показано количество просмотров и" +
        " посетителей' " +
        "border='0' width='88' height='120'><\/a>");
        //--></script>
    <!--/LiveInternet-->


{% endblock %}

{% block LiveInternet %}
{% endblock %}