{% extends '@site_theme/site.html.twig' %}
{# group \Proxies\__CG__\Maps\GroupsBundle\Entity\Groups\Groups #}
{# comment \Proxies\__CG__\Maps\GroupsBundle\Entity\GroupsComments #}
{% block body %}
    <script>
        window.group_id = {{ group.id }};
    </script>
    <h3>{{ group.name }}</h3>
    <p>{{ group.text }}</p>
    <br/>
    <script type="text/javascript" src="//yastatic.net/share/share.js"
            charset="utf-8"></script>
    <div class="yashare-auto-init"
         data-yashareL10n="ru"
         data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"
         data-yashareTheme="counter"></div>

    <br/>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Контактные данные</th>
                    <th>О себе</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in group.comments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ comment.authorName }}</td>
                        <td>{{ comment.authorContact }}</td>
                        <td>{{ comment.authorText }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Добавить себя:</h3>
            <br/>

            {{ form(commentsForm) }}
        </div>
        <div class="col-xs-6">
            <img src="http://ednml.ru/forum_img/ed.png" alt=""/>
            <br/>
            <ul class="add-group-menu">
                <li><a href="http://ednml.ru/pravila/"><h4>Правила создания групп</h4></a></li>
                <li><a target="_blank" href="http://forum.ednml.ru/"><h4>Наш Форум Единомышленников</h4></a></li>
                <li><a target="_blank" href="http://forum.ednml.ru/chat/"><h4>Чат общения Единомышленников</h4></a></li>
                <li><a target="_blank" href="http://ednml.ucoz.ru/"><h4>Блог разработчиков</h4></a></li>
            </ul>
        </div>
    </div>

    <br/>

    <!--LiveInternet counter-->
    <script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' " +
        "target=_blank><img src='//counter.yadro.ru/hit?t29.1;r" +
        escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
        ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
        ";" + Math.random() +
        "' alt='' title='LiveInternet: показано количество просмотров и" +
        " посетителей' " +
        "border='0' width='88' height='120'><\/a>");
        //--></script>
    <!--/LiveInternet-->


{% endblock %}

{% block LiveInternet %}
{% endblock %}